section#apiray-in-numbers {
    .row > div {
        text-align: center;
        position: relative;
        padding: 20px 0;
    }
    h2 {
        text-align: center;
        color: @primaryColor;
        font-size: 37px;
    }
    p {
        text-align: center;
        width: 120px;    
        transform: translateX(-50%);
        left: 50%;
        position: relative;
        font-size: 16px;
    }
}