#news {
    padding: 10px 25px 40px 25px ;
    a {
        color: @secondaryColor;        
        &:hover {
            img, .news-title, .date, .text {
                opacity: 1;
                color: @primaryColor
            }
        }
    }
    img {
        margin-bottom: 10px;
        transition: opacity .3s;
        // opacity: .6;
    }
    .title, .subtitle {
        color: @secondaryColor;
    }
    .text {
        overflow: hidden;
    }
    .news-image {
        max-height: 247px;
        overflow: hidden;
        position: relative;
        height: 247px;
        display: block;
        margin-bottom: 5px;
        background-size: cover;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 1px @primaryColor;
        }
    }
    .news-title, .date, .text {
        color: @secondaryColor;
        padding: 0;
        // opacity: .6;
        transition: opacity .3s;
    }
    .news-title {
        margin-bottom: -10px;
    }
    .date {
        margin-bottom: 50px;
        font-size: 11px;
    }
    .news {        
        display: none;
        @media screen and (min-width: 1201px) {
            display: block;
        }
        @media screen and (max-width: 1200px) {
            &:nth-of-type(-n+4) {
                display: block;
            }
            
        }

    }
}